body{

}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}

/* Clients Section
--------------------------------*/
#clients {
    padding: 60px 0;
}

    #clients img {
        max-width: 100%;
        /*opacity: 0.5;*/
        transition: 0.3s;
        padding: 15px 0;
    }

        #clients img:hover {
            opacity: 0.8;
        }

    #clients .owl-nav, #clients .owl-dots {
        margin-top: 5px;
        text-align: center;
    }

    #clients .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd;
    }

    #clients .owl-dot.active {
        background-color: #18d26e;
    }
#clients h3 {
    font-size: 2.375rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    font-family: Montserrat, sans-serif;
}


.section-header {
    margin-bottom:3em;
}


.head_title {
    margin-bottom: 40px;
}

.header-separator {
    height: 1px;
    width: 170px;
    margin: auto;
    background: #eeeeee;
    position: relative;
    margin-bottom: 3%;
    margin-top: 2%;
}

.separator {
    height: 1px;
    width: 170px;
    margin: 20px 0px;
    background: #eeeeee;
    position: relative;
}

.nav > li {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width:992px){
    .section-header {
        margin-bottom: 2em;
    }

    .nav > li {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width:240px;
    }
}

@media only screen and (min-width:768px) {
    .section-header {
        margin-bottom: 2em;
    }

    .nav > li {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
    }
}

@media only screen and (max-width:767px) {
    .section-header {
        margin-bottom: 2em;
    }

    .nav > li {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
    }
}


.logo-layout {
    margin-bottom:100px;
}

.logo-layout img{
    width: 100%;
}

.clients-details-layout {
    margin-top: 3em;
}
.clients-details-layout img{
    margin-left:15%;
    margin-right:auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display:block;
}



.btn.btn-info {
    margin-top: 5%;
}